/*
* Component Name                : HolidayActionLightning.cmp
* Component Controller          : HolidayActionLightningController.js
* Component Helper              : HolidayActionLightningHelper.js
* Component Contorlller Class   : HolidayActionLightningExtension.cls
* Test Class                    : HolidayActionLightningExtension_Test.cls
* Description                   : 휴일관리 라이트닝 신청 폼
* Modification Log 
* =============================================================== 
* Ver     Date          Author           Modification
* ===============================================================
  1.0   2018.08.27      JK.lee              Create
  2.0   2019.01.09      JK.lee              Modified
*/  

.THIS .customRequired {
 	font-weight: 400; 
 } 

.THIS .customRequired:before {
 	content: "*";
 	font-stretch: expanded;
 	font-weight: 200px;
    color: rgb(194, 57, 52);
    /*margin: 0 .125rem;*/
	float:left;
	padding: 0.35rem;
	margin-right: -0.15rem;	

	/*vertical-align: left;*/


}

.THIS .slds-has-error {
    background-color: rgb(255, 255, 255);        
    /*box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;*/
    /*background-clip: padding-box;*/
}

.THIS .slds-form-element__label {
      box-shadow: rgb(255, 255, 255);
}

.THIS .none {
	display:none; 
	padding:5px;
}

.THIS .show {
	display: inline !important;
}

.THIS .slds-modal__container.customDSize{
	line-height: 16px;
	/*display: table;*/
	padding: 1.5rem 0;

    max-width:55% !important;
    min-width:55% !important;	
}

.THIS .nolabel .slds-form-element__label {
    display: none; 
    visibility: hidden;

}